<form>
    <div class="mb-3">
        <label for="name">Character Name</label>
        <input type="text" name="name" class="form-control">
    </div>
    <div class="mb-3">
        <label for="side" class="form-label">Choose Side</label>
        <select name="side" id="side" class="form-control">
            <option *ngFor="let option of availableSides" [value]="option.value">{{
                option.display}}
            </option>
        </select>
    </div>
    <div class="mb-3">
        <button class="btn btn-primary" type="submit">Add Character</button>
    </div>

</form>