<div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" [ngClass]="{active: chosenList === 'all' }" (click)="onChose('all')">All</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [ngClass]="{active: chosenList === 'light' }" (click)="onChose('light')">Light</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [ngClass]="{active: chosenList === 'dark' }" (click)="onChose('dark')">Dark</a>
        </li>
    </ul>
    <app-list (sideAssigned)="onSideAssigned($event)" [characters]="getCharacters()"></app-list>
</div>