<!DOCTYPE html>
<html ng-app="TestApp">

<head>
    <title>The MEAN Stack</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
</head>

<body ng-controller="MainController as vm">
    <input type="text" ng-model="vm.message" /><br />
    {{vm.message}}
    <script src="/assets/js/app.js"></script>
    <br />
    <ul>
        <li ng-repeat="person in vm.people">{{person.name}}</li>
    </ul>
</body>

</html>